.main-container {
    display: flex;
    height: 100vh;
}

.left-panel {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-right: 30px;
    width: 25%;
}

.maps-container {
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: #eddcc1;
}