.main-container {
    display: flex;
    height: 100vh;
    background-color: #fbf7f5; 
    /* can be white */
}

.left-panel {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-right: 30px;
    width: 25%;
    background-color: #ffffff;
}

.maps-container {
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: #fbf7f5;
    /* can be white */
}